.header {
  height: 70vh;
  display: flex;
  align-items: center;
  color: #fff;
  background-image: url(https://c.pxhere.com/photos/e3/09/ocean_sky_silhouette_standing_dark_landscape_person_outdoor-105298.jpg!d);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
